<?php
function create_post_type() {
    register_taxonomy_for_object_type('category', 'new_post');
    register_taxonomy_for_object_type('post_tag', 'new_post');

    register_post_type('new_post', [
        'labels' => array(
            'name' => __('Blank Custom Post', 'wordavel'),
            'singular_name' => __('Blank Custom Post', 'wordavel'),
            'add_new' => __('Add New', 'wordavel'),
            'add_new_item' => __('Add New Blank Custom Post', 'wordavel'),
            'edit' => __('Edit', 'wordavel'),
            'edit_item' => __('Edit Blank Custom Post', 'wordavel'),
            'new_item' => __('New Blank Custom Post', 'wordavel'),
            'view' => __('View Blank Custom Post', 'wordavel'),
            'view_item' => __('View Blank Custom Post', 'wordavel'),
            'search_items' => __('Search Blank Custom Post', 'wordavel'),
            'not_found' => __('No Blank Custom Posts found', 'wordavel'),
            'not_found_in_trash' => __('No Blank Custom Posts found in Trash', 'wordavel')
        ),
        'public' => true,
        'hierarchical' => true,
        'has_archive' => true,
        'supports' => [ 'title', 'editor', 'excerpt', 'thumbnail' ],
        'can_export' => true,
        'taxonomies' => [ 'post_tag', 'category' ]
    ]);
}
add_action('init', 'create_post_type');
